body {
  margin: 0;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  overflow-x: hidden;
  height: 100vh;
}
.topnav{
  background: #0000007D;
  width: 100%;
  height: 47px;  


}
.topnav  h4{

  width: 159px;
  height: 29px;
  position: relative;
  top: 9px;
  left: 137px;
  color: white;
  z-index: 1;
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.topnav button{
  width: 100px;
height: 25px;
  font-family: 'Quicksand';
font-size: 20px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
position: relative;
top: -35px;
left: 1000px;
margin: 0;
background: transparent;
border: none;
color: white;
}
.main{
  padding: 10px;
  background: #0000007D;
  width: 100%;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #E0E8F1 0%, #BFCAD6 100%);

}
.midnav{
  width: 1127px;
height: 64.78px;
position: relative;
top: 50.22px;
left: 152px;
border-bottom: solid 1px #707070;

}
.midnav h4{
  margin: 0;
position: relative;
color: #1D2540;
font-size: 23px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}
.midnav h6{
  margin: 0;
position: relative;
text-align: left;
font-size: 15px;
}
.midnav form{
  width: 327px;
  height: 45.78px;
  position: relative;
  top: -45.78px;
  left: 800px;
  border-radius: 8px;
  margin: 0;
}
@media screen and (max-width:767px) {

  .midnav{
    width: 100%;
    height: 54.78px;
    margin-top: 50px;
    top: 0;
    left: 0px;
    border-bottom: solid 1px #707070;
    padding: 0;
    
    }
    .midnav h4{
    margin: 0;
    position: relative;
    color: #1D2540;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    .midnav h6{

    position: relative;
    text-align: left;
    font-size: 15px;
    }
    .midnav form{
    
      width: 100%;
      height: 45.78px;
      position: absolute;
      left: 0px;
    }
    .topnav h4{
      left: 10px;
    }
    .topnav button{
      left: 120px;
      font-size: 14px;
      width: 10px;
      padding: 5px;
      margin: 0;
      border-left: solid 1px white;
      height: 90%;

    }
  
}
.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input.form-control[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.card1{
  width: 100%;
  margin: 20px;
}
.infocard{
  width: 151.93px;
  height: 275.52px;
  /* position: relative;
  top: 221px;
  left: 324px; */
  border-radius: 7px;
  background: linear-gradient(180deg, #464646 0%, #1D2540 100%);
  color: white;
  padding: 0px;
}
.tinfo{
  width: 100%;
  height: 25%;
  border-bottom: 1px solid white;
  padding: 20px;
}
.tinfo p{
 
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.maininfo{
  width: 100%;
  height: 75%;
  padding:0px;
  font-family: 'Roboto';
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

}
.info_container{
  width: 1065px;
  height: 320px;
  position: relative;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px ;
  
}
.side_col{
  margin-top: 20px;
width: 150px;
color: black;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.side_col form{
  height: 15%;
  margin-bottom: 20px;
}
.heading{
  width: 155px;
}
@media screen and (max-width:767px) {
  .info_container{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;

  }
  .side_col{
    margin-left:0px ;
    margin-right: 10px;
    left: 0;
    width: 140px;
  }
  .card1{
    width: 204px;
    margin: 10px;
  }
  .date{

font-size: 17px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

  }
  .infocard{
    width: 134px;
    height: 243px;
    margin: 0px 20px;

  }
  .maininfo{
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }
  .side_col form{
    font-family: Roboto;
font-size: 17px;
font-weight: 400;
text-align: left;
 margin: 0;
 height: 28%;
  }
  .heading{
    width: 112px;
font-size: 15px;
font-weight: 400;
line-height: 17px;

letter-spacing: 0em;
text-align: left;

  }

}
